#ehm-experiment-form-wrapper-wells input[type="checkbox"] {
    width: 32px;
    height: 32px;
    margin-left: -36px;
}

#ehm-experiment-form-wrapper-wells label {
    font-size: 18px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.ehm-experiment-form-well-wrapper {
    margin-right: 2px;
    background-color: darkgrey;
    border-radius: 8px;
}

.ehm-experiment-form-well-wrapper-checked {
    margin-right: 2px;
    background-color: #43ac6a;
    border-radius: 8px;
    font-weight: bold;
    color: white;
}

table.labhub_ehm_wells td:hover {
    background-color: lightgrey;
}

table.labhub_ehm_wells td {
    text-align: center;
}

a.btn-labhub-back-exp {
    position: absolute;
    right: 15px;
    margin-top: -76px;
    opacity: 0.6;
}