
table.labhub_user_config {
    width: 100%;
}

table.labhub_user_config td, th {
    padding: 4px;
}

table.labhub_user_config span.glyphicon-ok-sign {
    color: forestgreen;
}

table.labhub_user_config span.glyphicon-remove-sign {
    color: darkred;
}

table.labhub_user_config span.glyphicon {
    margin-left: 20px;
    font-size: 20pt;
}